@(adminURL : String, user: models.user.User, token : String)

<p>
 Welcome @user.firstName!<br/>
</p>
<p>
An account has been created on your behalf and you are now able to get started with Queue.
</p>
<p>
What's next? Click <a href="@adminURL/confirmRegistration?token=@token">here</a> to confirm your email and start integrating your media library.
</p>
<p>
    We are very excited to start working with you! Please do not hesitate to reach out if there is anything we can do to help.
</p>
<p>Thanks,<br/>The Team at Queue</p>