@(webURL : String, token : String)

<p>Thanks for signing up for Surf!</p>

<p>
    Before you get started, please complete your registration <a href="@webURL/signup?token=@token">here</a>.
</p>
<p>
    After that, follow us on <a href="http://twitter.com/surfstreaming">Twitter</a>, <a href="http://facebook.com/surfstreaming">Facebook</a>, or our <a href="http://blog.surfbeta.com">blog</a>.
</p>
<p>Thanks,<br/>The Team at Surf</p>