@(webURL : String, user: models.user.User)

<p>Welcome @user.firstName!</p>

<p>
    Your account is all set up and you're ready to go.
    We have created a queue for you to get started, and you can create as many more as you like.
    Since we are in "beta", you may run into some bugs as we are getting ready to open the doors.
    We are working hard to get everything sorted out, but if it really annoys you feel free to send an email to <a href="mailto:contact@@surfbeta.com">contact@@surfbeta.com</a> and let us know.
</p>
<p>
    Oh, and one more thing. We really hope you enjoy using Surf. If you do, how about sharing the love by telling your friends?
    If you haven't already, you can follow us on <a href="http://twitter.com/surfstreaming">Twitter</a>, <a href="http://facebook.com/surfstreaming">Facebook</a>, or our <a href="http://blog.surfbeta.com">blog</a>.
</p>
<p>Thanks,<br/>The Team at Surf</p>